#div-1 {
	background-color: green;
	display: inline;
}
#span-1 {
	background-color: purple;
	width: 200px;
	height: 200px;
	display: none;
}
#span-2{
	background-color: red;
	display: block;
}
#img{
	display: inline-block;
	width: 250px;
	height: 250px;
}
#width60 {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid black;

}

#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;



}

.sample {
	display: inline-block;
	width: 30%;
	height: 4rem;
	border: 1px solid black;
	text-align: center;

}
/*float property*/
.img-float {
	width: 250px;
	height: 250px;
	float: none;
}

/*css units*/
.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 25px;
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}
.px100{
	width: 100px;

}
.vw50{
width:  50vw;
}
.vh25{
	width: 25vh;
}
.one-rem{
	font-size: 1rem;
	/*based sa root*/
}
.one-em{
	font-size: 1em;
	/*based sa parent*/
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}
.two-hundred-percent{
	font-size: 200%;
}

/*Baka po maka help, para sa understanding ng rem, pwede niyo po i inline style yung pinaka root, which is yung body,
<body style="font-size: 10px"></body>*/

.background {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg) ;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	background-attachment: fixed;
	/*or inherit*/
}

/*https://www.w3schools.com/css/css_background.asp*/

.parent-element {
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*z index*/
.container {
	position: relative;
}

.black-box {

	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;	
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 150px;
}