body {
	font-family: 'Open Sans', sans-serif;
	
}
nav {
	z-index: 3;
	position: sticky;
	top: 0;
	background-color: white;
	/*display: inline;*/
	/*vertical-align: center;*/

}
nav ul {
		width: 90%;
	margin: auto;
}
nav li {
	vertical-align: middle;
}
ul li{
	display: inline;

}
.nav-logo {
	display: inline-block;
}
.right-nav {
	display: inline-block;
	float: right;


}


.right-nav .nav {
padding: 0 0.5em 0;
vertical-align: center;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	/*filter: brightnes(0%);*/

	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	color: white;
	padding: 0;
}
.front-bg {

	background-color: black;
	opacity: 50%;
	height: 100%;
}

section {
	padding-top: 4em;
}
.intro h2, .pre-footer h2{
	font-family: 'Zilla Slab', serif;
	padding-bottom: 2em;

}

.intro, .pre-footer {
	text-align: center;
	width: 60%;
	margin: auto;
}

button {
	border-radius: 1em;
	border: 0;
	color: white;
	padding: 0.5em 1em;
}
.tuitt-button {
	background-color: #c2195b;
	
}

.book-button {
	background-color: deepskyblue;
	margin: 2em;

}


footer {
	text-align: center;
}

footer span {
	padding: 1em;
}

.container {
	height: 600px;
	width: 600px;
	float: right;
	margin-right: 4em;
	opacity: 100%;
	z-index: 1;
}


.title{
	font-family: 'Times New Roman',serif;
	
	height: 2.5em;
	padding-top: 2em;
	z-index: 1;
	
}

.subtitle {
	display: block;
	
	height: 6em;
	font-size: 1em;
	font-weight: 400;
z-index: 1;
}

.apply-button {
	background-color: #c2195b;
	z-index: 1;
	
}